         <li class="item">
                        <header class="pad-med">
                            <h2>{{auction.title}}</h2>
                        </header>

                        <div class="align-center">

                            <img class="img-thumb" src="{{auction.imageUrl}}">

                        </div>

                        <footer class="align-center pad-med">
                            <p>Closing price: <strong>${{auction.price}}</strong></p>
                            from {{user.firstName}} {{user.lastName}}
                        </footer>
                    </li>